extends ../layouts/default
include ../mixins/page-title

block content
	#about
		+page-title('About')
		.content
			.container
				h1 We believe in family
				.row.justify-content-md-center
					.col-md-8
						h2 the Faber family put together Top of the Hill Orchard for you and your 
							| family to enjoy spending time together while picking some sweet treats!
				.image-wrapper
					img(src="images/IMG_4016-001_web.JPG"
				    	width="100%")
					.caption
						p Scott and Janet Faber, founders of Top of the Hill Orchard, blow 
							| bubbles with their granddaughter Kaylin.
				p Much like a family, Top of the Hill Orchard started with a few, trees 
					| that is, and grew.   What started as a half dozen apple trees on the
					| Faber family hobby farm, expanded to several dozen trees.
				.row
					.col-md-6
						p Scott and Janet rose a wonderful family at their home in Edgar, 
							| Wisconsin: the location of Top of the Hill Orchard.  Now, with 
							| their kids moved out and retirement getting closer, they’ve 
							| decided to focus their efforts on providing value for their 
							| community in the form a wholesome, family-oriented pick-your-own 
							| apple orchard.
							br
							br
							| They remember taking their kids to local apple orchards, having a 
							| blast picking bushels of apples, and returning home afterwards 
							| to start converting their tasty apples into even tastier treats 
							| like apple pie, apple crisp, and apple sauce.
							br
							br
							| Now, they’d like to afford your family that opportunity.  Stop on 
							| by, say hello, and enjoy a few apples!
							br
							br
							b Address: 4769 Holstein Road. Edgar, WI 54426
					.col-md-6
						.image-wrapper
							img(src="images/IMG_3717_cropped.jpg"
						    	width="100%")
							.caption
								p A Honeycrisp tree begins to bloom at the start of spring at 
									| Top of the Hill Orchard
