extends ../layouts/default
include ../mixins/page-title
include ../mixins/separators

mixin post(post)
	.row
		.col-12
			.post
				.image-wrapper
					img(src="https://www.waimeanurseries.co.nz/assets/Uploads/apples.jpg")
				.post-content
					a.title(href="#")= post.title
					p.date= post.humanReadablePublishedDate
					p.preview= post.content.brief
					
block content
	+page-title('Blog')
	#blog
		.content
			.container
				h1 See what Top of the Hill Orchard is up to
				h2 Filter what you'd like to hear about by clicking the categories below:
				.row
					.categories.col-sm-12
						.row.justify-content-center
							div.col-sm-2.category
								a(href="#") All
							each category in data.categories
								div.col-sm-2.category
									a(href="#")= category.name
				+separator(data.postSeparatorText)
				each post in data.posts
					+post(post)
