extends ../layouts/default
include ../mixins/page-title
include ../mixins/separators

mixin post(post)
	.row
		.post.col-12
			.image-wrapper
				img(src="https://www.waimeanurseries.co.nz/assets/Uploads/apples.jpg")
			.post-content
				a.title(href="#") Scott’s Apple Report
				p.date August 15th, 2017
				p.preview Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					| minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					| aliquip ex ea…

block content
	+page-title('Blog')
	#blog
		.content
			.container
				h1 See what Top of the Hill Orchard is up to
				h2 Filter what you'd like to hear about by clicking the categories below:
				.row
					.categories.col-sm-12
						.row.justify-content-center
							div.col-sm-2.category
								a(href="#") All
							div.col-sm-2.category
								a(href="#") Apple Report
							div.col-sm-2.category
								a(href="#") News
							div.col-sm-2.category
								a(href="#") Recipes
				+separator("2 blog entries")
				+post()
				+post()
				+post()
