extends ../layouts/default

block content
	#home
		#photos.container
			photos here
		.blue-separator
		.content
			.container
				.row
					#welcome.col-sm-12
						h1 Our family enjoys spending time with each other in relaxed, fun, 
							| and quaint environments.  Top of the Hill Orchard provides a 
							| perfect setting for such a thing.  
							br 
							| Join us!
				.row
					#learn-more-separator.col-sm-12
						span.line
						span Learn More
						span.line
				.row
					.cell.col-lg-4
						h2 What
						p We’re a 
							b pick-your-own
							| apple orchard; a great place for you and your family to hang out, 
							| make a few memories, and enjoy delicious apples! 
					.cell.col-lg-4
						h2 When
						p When the apples are ready, so are we!   During the picking season,
							| we’ll be open 
							b 7 days a week 
							| from 
							b 2:00 pm - 7;00 pm. 
							br
							br
							| Sign up for our email list to be the first to know when the 
							| apples are ready!
							
					.cell.col-lg-4
						h2 Where
						p
							b 4769 Holstein Road. Edgar, WI 54426
							br
							br
							| If you’re heading east on Holstein Road, look to your right and 
							| you’ll see a bunch of apples trees followed by a regulation 
							| sized field goal post.
							
