#blog{
	h1 {
		font-size: 1.3em;
		text-align: center;
		padding: 1.5em 0em .2em 0em;
	}

	h2 {
		font-size: 1em;
		text-align: center;
		padding: .2em 0em .2em 0em;
	}

	.categories {
		padding-bottom: 1.5em;

		.category {
			text-align: center;
			font-size: 0.8em;
		}
	}

	.post{
		display: flex;
		flex-direction: row;
		padding: 2em 0em 2em 0em;
		border-bottom: 1px solid $grey;

		.image-wrapper {
			width: 200px;
			margin-right: 1em;

			img {
				width: 100%;
			}
		}

		.post-content{
			flex: 1;

			a.title {
				font-size: 1.1em;
			}

			.date {
				font-size: 0.8em;
				color: $red;
			}
		}
	}

	.post:last-child {
		margin-bottom: 1em;
	}
}
