#blog{
	h1 {
		font-size: 1.3em;
		text-align: center;
		padding: 1.5em 0em .2em 0em;
	}

	h2 {
		font-size: 1em;
		text-align: center;
		padding: .2em 0em .2em 0em;
	}

	.categories {
		padding-bottom: 1.5em;

		.category {
			text-align: center;
			font-size: 0.8em;

			a.active {
				text-decoration: underline;
			}
		}
	}

	.post{
		display: flex;
		flex-direction: row;
		padding: 2em 0em 2em 0em;
		border-bottom: 1px solid $grey;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
			padding: 1em 0em 1em 0em;
		}

		.image-wrapper {
			width: 200px;
			margin-right: 1em;

			@include media-breakpoint-down(sm) {
				margin-bottom: 1em;
			}

			img {
				width: 100%;
			}
		}

		.post-content{
			flex: 1;

			a.title {
				font-size: 1.1em;
			}

			.date {
				font-size: 0.8em;
				color: $red;
				margin-bottom: 0em;
			}

			.tags {
				font-size: 0.8em;
				margin-top: 0.4em;
				margin-bottom: 0em;

				span {
					font-style: italic;
				}
			}

			.preview {
				padding: 0;
				margin: 0;
				margin-top: 1em;
			}
		}
	}

	.post:last-child {
		margin-bottom: 1em;
	}
}
