#home{
	font-size: $font-size-base;
	line-height: 1.5;
	position: relative;

	#photos {
		height: 250px;
	}

	@include media-breakpoint-down(sm) {
		#photos {
			display: none;
		}
	}

	#welcome {
		margin: 45px 0px 45px 0px;
		text-align: center;

		h1 {
			line-height: 1.5;
			margin: 0px;

			@include media-breakpoint-down(sm) {
				font-size: 1.1em;
			}

			@include media-breakpoint-up(md) {
				font-size: 1.5em;
				margin-left: 50px;
				margin-right: 50px;
			}
		}
	}
	.cell {
		h2 {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.8em;
		}

		p {
			margin-bottom: 2em;
		}
	}
}
