html {
	background: $blue;
}

body {
	background: url('../images/thomas-kelley-74109.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#footer {
	background-color: $blue;

	p {
		font-size: 0.8em;
		padding: 1em;
		margin: 0;
		color: $grey;
		text-align: center;
	}
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
