.page-title {
	position: relative;

	.container {
		position: relative;
		height: 50px;
		overflow: hidden;

		@include media-breakpoint-down(sm) {
			height: 50px;
		}

		h1.title {
			font-size: 3.5em;
			font-weight: bold;
			margin: 0;
			padding: 0;
			color: $blue;
			position: absolute;
			left: 0px;
			bottom: -13px;

			@include media-breakpoint-down(sm) {
				font-size: 4em;
			}
		}
	}
}
